@import "./styles/shared/shared.css";
@import "./styles/expenses/expenses.css";
@import "./styles/expenses/expensesChart.css";
@import "./styles/expenses/expensesList.css";
@import "./styles/expenses/create-expense.css";
@import "./styles/auth/login.css";
@import "./styles/shared/marketing.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-primary-10: #e7cffe;
  --color-primary-50: #dcbcfb;
  --color-primary-100: #ca97fc;
  --color-primary-200: #b779f4;
  --color-primary-300: #a85ff0;
  --color-primary-400: #8f42dd;
  --color-primary-500: #8d34e6;
  --color-primary-600: #8021e0;
  --color-primary-700: #690fc3;
  --color-primary-800: #4e0596;

  --color-secondary-50: hsl(24, 93%, 83%);
  --color-secondary-100: hsl(24, 91%, 75%);
  --color-secondary-200: hsl(24, 96%, 68%);
  --color-secondary-300: hsl(24, 96%, 61%);
  --color-secondary-400: hsl(24, 96%, 53%);
  --color-secondary-500: hsl(24, 100%, 50%);
  --color-secondary-600: hsl(22, 90%, 50%); */

  --color-gray-10: #f6f2fc;
  --color-gray-50: #f0eafa;
  --color-gray-100: #ded8e8;
  --color-gray-200: #c1bcc9;
  --color-gray-300: #aba6b3;
  --color-gray-400: #96929d;
  --color-gray-500: #7f7b85;
  --color-gray-600: #69666f;
  --color-gray-700: #514f55;
  --color-gray-800: #403e44;
  --color-gray-900: #2e2c32;

  --color-primary-10: #ede3fd;
  --color-primary-50: #c9aaff;
  --color-primary-100: #af82fc;
  --color-primary-200: #975bfd;
  --color-primary-300: #8845fc;
  --color-primary-400: #7223fa;
  --color-primary-500: #5d00ff;
  --color-primary-600: #5402e3;
  --color-primary-700: #4a02c6;
  --color-primary-800: #3c02a1;

  --color-secondary-500: #9900ff;
  --color-secondary-600: #8400ff;
  --color-secondary-700: #7500ce;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  h4 {
    @apply text-base font-normal;
  }
  h4 {
    @apply text-sm font-light;
  }
  h4 {
    @apply text-xs font-extralight;
  }
  body {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--color-primary-300),_var(--color-primary-800))] min-h-screen  scroll-smooth;
  }
  main {
    @apply my-8 mx-auto max-w-2xl;
  }
  .modal-backdrop {
    @apply fixed top-0 left-0 w-full h-screen bg-black/75;
  }
  .modal {
    @apply fixed top-[25vh] w-96 border-none rounded-md bg-gray-color-50 animate-fade-slide-down;
  }
  .error {
    @apply flex flex-col items-center justify-center max-w-xl my-16 mx-auto p-8 bg-[#692dc3] shadow-md rounded-lg;
  }

  .info-message {
    @apply m-8 text-center text-primary-color-50 text-2xl;
  }
  .error .icon {
    @apply text-5xl;
  }

  .error h1,
  .error h2 {
    @apply my-2 mx-0 text-base;
  }

  .error a {
    @apply flex gap-4 items-center mt-4 text-primary-color-200 bg-primary-color-10 py-2 px-6 rounded-3xl font-semibold;
  }

  .error a:hover {
    @apply bg-gray-color-100;
  }
}
